<nav class="w-full h-24 flex justify-between items-center px-5 bg-primary">
  <div class="text-3xl font-semibold opacity-75">
    <span class="text-gray-900">Candidace</span>
  </div>
  <button id="joinUsButton" class="border border-gray-500 px-6 py-2 bg-white text-text font-semibold text-lg">Join
    Us</button>
</nav>
<%- include('./joinModal') %>

  <script>
    document.getElementById('joinUsButton').addEventListener('click', function () {
      const joinModal = document.getElementById('joinModal');
      joinModal.style.display =
        (joinModal.style.display === 'none' || joinModal.style.display === '')
          ? 'flex' : 'none';
    });
  </script>