<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="color: #333;">
  <p>Hey there,</p>
  <div style="font-size: 26px;">
    <a href="<%= process.env.DASHBOARD_URL %>/resetPassword/<%= token %>" target="_blank">Click this link to Reset your
      password</a>
  </div>

  <div>
    <p>
    <div>Sincerely,</div>
    <div>Team Candidace,</div>
    <a href="<%= process.env.DASHBOARD_URL %>/" target="_blank" style="font-size: 13px; font-weight: 600;">Candidace</a>
    </p>

    <p>
      —---------------------------------------------
    </p>

    <p>Follow us on <a href="https://www.linkedin.com/company/102830578/" target="_blank">LinkedIn</a></p>
  </div>
</body>

</html>