<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sample Email</title>
</head>

<body style="background-color: aliceblue;">
  <div>
    <p>Hello <%= name %>,</p>
    <p>This is a sample email sent using EJS and Nodemailer.</p>
    <p>Regards,<br />Your Name</p>
    <div class="mt-10">Test</div>
  </div>
</body>

</html>