<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="color: #333;">
  <p>Hey there,</p>
  <div style="font-size: 26px;">
    <a href="<%= process.env.DASHBOARD_URL %>/verify/<%= token %>" target="_blank">Click here to verify</a>
  </div>

  <div>
    <p>
    <div>Sincerely,</div>
    <div>Vishwa Srivastava</div>
    <a href="https://candidace.fyi/" target="_blank" style="font-size: 13px; font-weight: 600;">Candidace.fyi</a>
    </p>

    <p>
      P.S. Don't forget to check out my <a href="https://candidace.fyi/user/0054fbc6-7c6e-4c03-a9dd-647d4e6744f2"
        target="_blank">profile</a>
      and connect with me for some mock interview practice or any feedback on how we can make this platform better!
    </p>

    <p>
      —---------------------------------------------
    </p>

    <p>Follow us on <a href="https://www.linkedin.com/company/102830578/" target="_blank">LinkedIn</a></p>
  </div>
</body>

</html>