<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="color: #333;">
  <p>Hi <%= name %>,</p>

  <p>
    Welcome to <a href="https://candidace.fyi/" target="_blank">Candidace.fyi</a>! I am thrilled to have you on board as
    you embark on your journey to land your dream job. As someone who has been through the rigours of the interview
    process, I can relate to the challenges you may face.
  </p>

  <p>
    Let me share a personal experience with you. Last year, I thought I was the perfect fit for a Product Manager role
    at a FAANG company. I made notes and prepared as hard as I could, trying to craft my stories and preempt interview
    questions. However, despite my fit and confidence, I performed poorly in the interview and faced rejection. It was a
    humbling experience that taught me the importance of proper interview practice.
  </p>

  <p>
    The reality is that Product Management interviews have become increasingly competitive. According to a study by
    Randstad, 50% of people feel completely unprepared for job interviews, and 57% have had a poor interview experience.
    To stand out, adequate preparation is crucial.
  </p>

  <p>
    That's where <a href="https://candidace.fyi/" target="_blank">Candidace.fyi</a> comes in. Our platform connects you
    with like-minded professionals, allowing you to practise mock interviews and receive valuable & actionable feedback.
    Studies suggest that practising 8-10 mock interviews can significantly reduce interview anxiety and improve your
    chances of acing the real interview.
  </p>

  <p>
    However, to make the most of our platform, it's essential to complete your profile. A well-crafted profile will help
    us recommend relevant peers, ensuring you get the best possible practice sessions.
  </p>

  <p><a href="https://candidace.fyi/profile" target="_blank">Complete Your Profile Now!</a></p>

  <p>
    Practising with others offers numerous benefits. You'll gain exposure to diverse perspectives, learn from
    experienced professionals, and receive constructive feedback to refine your interviewing skills. Remember,
    interviewing is a skill, and practice makes perfect.
  </p>

  <p>
    We are only starting out and any bit of help to get more professionals like you will make this community a better
    place. I encourage you to share <a href="https://candidace.fyi/" target="_blank">Candidace.fyi</a> with your
    network, as a larger community means more opportunities for quality practice sessions. Together, we can help each
    other succeed and land those dream jobs.

  </p>

  <p>
    Best of luck on your journey! If you have any questions or need assistance, please don't hesitate to reach out.
  </p>

  <p>
  <div>Sincerely,</div>
  <div>Vishwa Srivastava</div>
  <a href="https://candidace.fyi/" target="_blank" style="font-size: 13px; font-weight: 600;">Candidace.fyi</a>
  </p>

  <p>
    P.S. Don't forget to check out my <a href="https://candidace.fyi/user/0054fbc6-7c6e-4c03-a9dd-647d4e6744f2"
      target="_blank">profile</a>
    and connect with me for some mock interview practice or any feedback on how we can make this platform better!
  </p>

  <p>
    —---------------------------------------------
  </p>

  <p>Follow us on <a href="https://www.linkedin.com/company/102830578/" target="_blank">LinkedIn</a></p>

</body>

</html>